language: node_js

node_js:
  - "stable"
env:
  global:
    - CC_TEST_REPORTER_ID=8cbbb5692d02c0d5b9e7cf10caf6604306bff5db53f9d72afb965fb3dd7e45dc\

before_script:
  - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - nyc --reporter=lcov yarn run unit

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

cache:
  directories:
    - "node_modules"

after_success: yarn run coverage