/* Globals */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
body {
  font: 16px/1.1 Ubuntu, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fefefe;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: #054752;
  width: 7.79rem;
  height: 2.94rem;
  color: #ffffff;
  border-radius: 9px;
  font-size: 18px;
  cursor: pointer;
}
button:focus {
  outline:0;
}

/* Nav */
header {
  background: #ffffff;
  max-height: 70px;
}
header a {
  color: #054752;
  text-decoration: none;
}
header li {
  display: inline;
  padding: 0 8px;
}
header #brand {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
header nav {
  float: right;
  margin: 10px 0;
  font-size: 18px;
}
header .brand-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-icon {
  display: hidden;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background: url('../img/icon.svg');
}

/* Hero */
.hero {
  background: url('http://res.cloudinary.com/lauragift/image/upload/v1528810037/trading-1_avqrra.jpg') no-repeat -0px;
  background-size: 100%;
  height: 400px;
  text-align: center;
}
.hero h1 {
  font-size: 80px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
 }
.hero p {
  color: #ffffff;
  font-size: 23px;
}

 /* feature */
#feature {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  color: #413c3c;
  width: 30%;
  padding: 20px;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 39px;
}

/* SignUp form */
.signup {
  margin-top: 30px;
  background: #f4f4ef;
}
/* tabs */
.tabarea{
  border: 1px solid #ccc;
  margin: 20px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
}
.tab {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tablinks {
  cursor: pointer;
  padding: 20px;
  color: #413c3c;
}
.tablinks:hover {
  background: #ddd;
  border-radius: 10%;
}
.form-header {
  font-size: 30px;
  text-align: center;
}
.form {
  text-align: center;
}
.form-group {
  padding: 20px;
}
.text-input {
  background: #ffffff;
  padding:0.4em;
  margin-left: 3px;
  width: 25em;
  height: 2.3rem;
  outline-color: #054752;
}
.text-email {
  width: 51em;
  padding: 0.4rem;
  outline-color: #054752;
  height: 2.3rem;
}
.button {
  text-align: center;
}
.btn {
  background: #1a7d8f;
  width: 30em;
  box-shadow: 0 3px  0 4px  rgba(204, 204, 204, 0.185);
}
.btn:hover {
  background: #054752;
  box-shadow: none;
}

/* footer */
.copyright {
  background: #0a0707;
  text-align: center;
  color: #ffffff;
}

/* media queries */
@media only screen and (max-width: 640px) {
  header {
    position: relative;
    height: 7px;
  }
  .head {
    height: 50px;
  }
  #menu-icon {
    display: inline-block;
  }
  nav ul, nav ul:hover {
    display: none;
    position: absolute;
    padding: 20px;
    background: #eee;
    right: 10px;
    top: 60px;
    width: 70px;
    border-radius: 4px 0 4px 4px;
  }
  li {
    float: none;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 30px;
  }

  header nav li:hover {
    display: inline-block;
  }

  /* hero */
  .hero h1 {
    font-size: 40px;
    margin: 2.8em 0 0 0;
  }
  .hero p {
    font-size: 16px;
  }
  /* feature */
  .title {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  #feature {
    display: flex;
    flex-direction: column;
  }
  #feature .box {
    width: 80%;
  }
  /* signin */
  .tabarea {
    padding: 20px;
  }
  .form-header {
    font-size: 18px;
  }
  .text-input {
    width: 12em;
    height: 2em;
    margin-bottom: 8px;
  }
  .text-email {
    width: 12em;
    height: 2em;
  }
  .btn {
    width: 10em;
  }
  .copyright {
    min-height: 10vh;
  }
}